.flex {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.gap-1em {
    gap: 1em;
}

.column {
    flex-direction: column;
}