.main-container{
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    color: #ff9f68;
    font-size: 80px;
}

.fade-in {
    opacity: 1;
    animation: fadeIn 3s ease-in-out backwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }