.img{
    cursor: pointer;
}
.white-bg {
    background-color: #FFF;
}
.line-height-1 {
    line-height: 1;
}

.online-banking {
    font-weight: 600;
    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}