<app-toolbar></app-toolbar>
<div class=" flex">
    <div class="container flex center-center gap-1em full-height full-width row">
        <h1 class="flex gap-3em">Create Your Account Here</h1>
        <img class="pic flex center-center full-width" src="../../../assets/images/bg-sign.jpeg" alt="">
    </div>
    <div class="container flex center-center gap-1em">
        <form [formGroup]="signInForm" (ngSubmit)="submit()" class="full-width">
            
        <p><b>Your Journey with BankConnect Starts now</b></p>
        <br>
        
            <div class=" flex column gap-1em">
                <div class="flex gap-1em row-1">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="name">
                        <mat-error *ngIf="signInForm.get('name')?.hasError('required')">
                            <p class="flex gap-1em">First Name is<strong>required</strong></p>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Surname</mat-label>
                        <input matInput placeholder="Last Name" formControlName="surname">
                        <mat-error *ngIf="signInForm.get('surname')?.hasError('required')">
                            <p class="flex gap-1em">Last Name is<strong>required</strong></p>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>SA ID Number</mat-label>
                    <input matInput placeholder="e.g 9802135222056" formControlName="id" type="tel">
                    <mat-error *ngIf="signInForm.get('id')?.hasError('required')">
                        <p class="flex gap-1em">ID Number is<strong>required</strong></p>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName = "gender">
                      <mat-option *ngFor="let gender of genders" [value] = "gender">{{gender}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cellphone Number</mat-label>
                    <input matInput placeholder="e.g 0712345679" formControlName="contact">
                    <mat-error *ngIf="signInForm.controls['contact'].invalid && signInForm.controls['contact'].hasError">
                        <p class="flex gap-1em">Cellphone Number is<strong>required</strong></p>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email address</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">
                    <mat-error *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].hasError">
                        <p class="flex gap-1em">Email field is<strong>required</strong></p>
                    </mat-error>
                </mat-form-field>
               <div class="flex gap-1em full-width">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Create a Pin Code</mat-label>
                    <input matInput placeholder="****" formControlName="pin" type="password" maxlength="4">
                    <mat-error *ngIf="signInForm.get('pin')?.hasError('required')">
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('pin')?.hasError('minlength')">
                        <p class="flex gap-1em">Pin should at least have 4 charectors</p>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Confirm your Pin Code</mat-label>
                    <input matInput placeholder="****" formControlName="pinConfirm" type="password" maxlength="4">
                    <mat-error *ngIf="signInForm.get('pinConfirm')?.hasError('required')">
                        <p class="flex gap-1em">Confrim Pin is<strong>required</strong></p>
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('pinConfirm')?.hasError('pattern')">
                        <p class="flex gap-1em">Your pin doesn't match!</p>
                    </mat-error>
                </mat-form-field>
               </div>
            </div>
            <div class="flex space-center ">
                <p>Already have an account? <span class="sign" (click)="LogIn()">Sign In</span></p>
                <button mat-raised-button color="warn" [disabled]="signInForm.invalid" (click)="submit()">Create Account</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>