
  <div class="full-width flex column">
    <app-toolbar></app-toolbar>
    <div class="flex end_center nav-bg height-45px">
        <button class="btn primary-bg white primary-border primary-btn height-25px" (click)="register()">Open an Account</button>
    </div>
  </div>
    <!-- Sections -->
    <section class="landing-section">
        <div class="flex center-center full-height column">
            <p class="primary font-4em margin-bottom-30px "><b>Welcome to the BankConnect system,</b> <br>
                <span>Self Service Platform</span>
            </p>
        </div>
    </section>
    <!--Footer-->
    <app-footer></app-footer>
